<!-- 
<div>
  <input class="controls" type="text" id="username" [(ngModel)]="username" name="username" placeholder="Nombre de Usuario en Github" #usernameref ="ngModel">
    <button class= "form-botons" (click)="getRepositories()">Buscar Repositorios</button>
  </div>
  
  <table>
    <thead>
      <tr>
        <th class = "table">Seleccionar
        </th>
        <th class = "table">Name</th>
        <th class = "table">Descripcion</th>
        <th class = "table">Estrellas</th>      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let repo of repositories">
        <div>
          <input type = "checkbox" name ="repo" (change) = "saveSelected(repo.name)"
          value = "{{repo.name}}">
        </div>
        <td>{{ repo.name }}</td>
        <td>{{ repo.description }}</td>
        <td>{{ repo.stars }}</td>
      </tr>
      <tr *ngFor="let repo of selectedRepositories">
        <td>{{ repo.description }}</td>
        <td>{{ repo.language }}</td>
        <td>{{ repo.stars }}</td>
        <td><a href="{{ repo.html_url }}" target="_blank">{{ repo.html_url }}</a></td>
      </tr>
    </tbody>

  </table>
   -->